<footer class="second-footer <%= controller.controller_name %>">
    <div class="footer-content">
        <h5>Log në gjuhën shqipe e ka kuptimin e një sheshi, hapësire të përbashkët. Ky forum mendimesh është
            pikërisht hapësirë e tillë.</h5>
    </div>
    <div class="footer-content">
        <%= render partial => 'general/logo_svg' %>
    </div>
    <div class="footer-content">
        <h5>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
            erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
            nisl ut aliquip ex ea commodo consequat.</h5>
    </div>
</footer>