Ligji thotë që një email është i mjaftueshëm (<a href="<%= help_page_url(:anchor => 'full_address') %>">më shumë detaje</a>).

Në fund të kësaj faqeje, shkruajani një përgjigje institucionit që ua shpjegon këtë.
