<% @title = "Çka është FLOSSK" %>
<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>
    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip">
        <h1 id="credits"><%= @title %></h1>
        <p>Free Libre Open Source Software Kosova (FLOSSK) is a non-governmental organization based in Prishtina established in 2009 in order to support, promote and develop free and open source software. Besides, FLOSSK also contributes to open and participatory knowledge, education in information technologies through open courseware, and open standards, culture and open society using free communication.
</p>

        <p>QSince its founding, FLOSSK has been involved in bringing the IT community closer to free and open source projects by organizing yearly conferences, workshops, meetups and actively participating in public policy development. 
</p>

        <div id="hash_link_padding"></div>
      </div>
    </div>
  </div>
</section>
