<% @title = "Çka është FLOSSK" %>
<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>
    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip">
        <h1 id="credits"><%= @title %></h1>
        <p>Free Libre Open Source Software Kosova (FLOSSK) është një organizatë joqeveritare me bazë në Prishtinë, e themeluar më 2009 me qëllim mbështetjen, promovimin dhe zhvillimin e softuerit të lirë dhe me burim të hapur. Përvec kësaj, FLOSSK gjithashtu kontribuon në njohuritë e hapura dhe me pjesëmarrje, edukimin në tekonologjinë informative përmes kurseve të hapura, dhe standardeve të hapura, kulturë dhë shoqërinë e hapur duke përdorur komunikimin e lirë.
</p>

        <p>Që nga themelimi i saj, FLOSSK ka qenë i përfshirë që të afroj komunitetin e IT me projekte me burim të lirë dhe të hapur duke organizuar konferenca vjetore, seminare, takime dhe pjesëmarrje aktive në zhvillimin e politikave të hapura. 
</p>

        <div id="hash_link_padding"></div>
      </div>
    </div>
  </div>
</section>
