<% @title = "Çka është Flossk" %>
<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>
    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip">
        <h1 id="credits"><%= @title %></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nibh porttitor, bibendum lacus id, hendrerit diam. In non nisl arcu. Curabitur ex nisi, cursus ut egestas ac, scelerisque eu libero. Morbi sit amet tortor vel dui gravida ornare. Cras non sem rhoncus, rutrum justo hendrerit, laoreet risus. Aenean in quam est. Aliquam convallis feugiat pharetra.</p>
        <p>Pellentesque accumsan feugiat lacus, ac pretium dolor euismod sed. Vivamus facilisis elementum mauris. Aenean dui diam, suscipit in nunc a, rhoncus fringilla eros. Aliquam erat volutpat. Nunc egestas semper lectus, non hendrerit lorem dictum molestie. Vivamus varius felis justo, vel facilisis ante eleifend eget. Aliquam erat volutpat.</p>

        <p>Proin ac sapien purus. Morbi a sagittis nisi, in pulvinar arcu. Cras ultricies facilisis ornare. Nunc vitae lorem dictum, rhoncus enim sit amet, aliquam massa. Quisque in fermentum mi. Morbi id massa rhoncus, interdum nisl quis, pharetra tortor. Vivamus placerat erat vestibulum tellus sagittis aliquam. Phasellus et metus tellus. Suspendisse lobortis ex vel sem suscipit, non accumsan sem condimentum. Donec maximus enim eu felis vehicula, sed ultrices mi faucibus.</p>

        <div id="hash_link_padding"></div>
      </div>
    </div>
  </div>
</section>
