<% @title = "Privatësia juaj" %>

<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>
    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip">
        <h1 id="privacy"><%= @title %> <a href="#privacy">#</a></h1>
        <dl>
      
          <dt id="email_address">Kush mund të shoh adresën time të emailit? <a href="#email_address">#</a> </dt>
      
          <dd><p>Ne nuk do t'ia zbulojmë adresën tuaj të emailit askujt, përveç nëse jemi të detyruar me ligj, ose nëse ju na e kërkoni. Kjo përfshin institucionin publik të cilit po i dërgoni një kërkesë. Ata mund të shohin vetëm një adresë emaili @dumedite.org e cila është specifike për atë kërkesë.
</p>
            <p>Nëse i dërgoni një mesazh një përdoruesi tjetër në faqe, atëherë ai do t'i zbuloj atyre adresën tuaj të emailit. Ju do të njoftoheni se kjo do të ndodh.
</p>
          </dd>
      
          <dt id="nasty_spam">A do të dërgoni mesazhe të padëshiruara në adresën time të emailit? <a href="#nasty_spam">#</a> </dt>
          <dd>Jo. Pasi të regjistroheni në Dumeditë, ne do t'ju dërgojmë vetëm emaile në lidhje me kërkesën që keni bërë, një njoftim me email për të cilin jeni regjistruar ose për arsye të tjera që ju i autorizoni në mënyrë specifike. Ne kurrë nuk do t'i japim apo shesim adresat tuaja të emailit dikujt tjetër, përveç nëse jemi të detyruar me ligj, ose nëse ju na kërkoni.

          </dd>
      
          <dt id="public_request">Pse emri dhe kërkesa ime do të shfaqen publikisht në faqe? <a href="#public_request">#</a> </dt>
      
          <dd>
            <p>Ne e publikojmë kërkesën tuaj në internet në mënyrë që çdo kush ta lexoj atë dhe të përdor informacionin që keni gjetur. Zakonisht nuk i fshijmë kërkesat (<a href="#delete_requests">(më shumë detaje)</a>. 

            </p>
            <p>
              Emri juaj është i lidhur me kërkesën tuaj, kështu që duhet të publikohet bashkë me të. Kjo është një mënyrë e drejtë e të vepruarit pasi ne do të publikojmë emrin e nëpunësit civil që shkruan përgjigjen për kërkesën tuaj. Përdorimi i emrit tuaj të vërtetë gjithashtu i ndihmon njerëzit të kontaktojnë me ju për t'ju ndihmuar me kërkimin tuaj ose për të bërë fushatë me ju.
            </p>
            <p>Shihni pyetjen tjetër për alternativat nëse nuk dëshironi të publikoni emrin tuaj të plotë.

            </p>
          </dd>
      
          <dt id="real_name">A mund të bëj një kërkesë për QDP duke përdorur një pseudonim? <a href="#real_name">#</a> </dt>
      
      
          <dd>
            <p>Është e mundur, pasi ne nuk e kontrollojmë. Kini kujdes sepse pseudonimi ndoshta do ta bëj të pamundur për ju që të ankoheni më vonë në Agjencinë e Informacionit dhe Privatësisë për trajtimin e kërkesës suaj.

            </p>
      
            <p>Ka disa alternativa të mira ndaj përdorimit të një pseudonimi.</p>
      
            <ul>
              <li>Përdorni një formë të ndryshme të emrit tuaj.</li>
              <li>Gratë mund të përdorin mbiemrin e tyre të vajzërisë.</li>
              <li>Në shumicën e rasteve, ju mund të përdorni çdo emër me të cilin jeni "gjërësisht i njohur dhe/ose përdoret rregullisht".</li>
              <li>Përdorni emrin e një organizate, emrin e një kompanie, emrin tregtar të një kompanie ose emrin tregtues të një tregtari të vetëm.</li>
              <li>Kërkojini dikujt tjetër të bëjë kërkesën në emrin tuaj.</li>
              
            </ul>
      
            <p>Ju lutemi mos tentoni të imitoni dikë tjetër.</p>
      
          </dd>
      
          <dt id="full_address">Më kanë kërkuar adresën postare! <a href="#full_address">#</a> </dt>
      
          <dd>
            <p>Nëse një institucion publik ju kërkon adresën tuaj të plotë fizike, përgjigjuni duke thënë se adresa e emailit që po përdorni është e mjaftueshme.</p>
                      </dd>
      
          <dt id="delete_requests">A mund të fshini kërkesat e mia, ose të ndryshoni emrin tim?  <a href="#delete_requests">#</a> </dt>
      
          <dd>
      
            <p>Dumeditë është një arkiv i përhershëm publik i kërkesave për qasje në dokumente publike. Edhe pse mund të mos e gjeni më të dobishme përgjigjen ndaj një kërkese, ajo mund të jetë me interes për të tjerët. Për këtë arsye, ne nuk do të fshijmë kërkesat.


Nëse jeni të shqetësuar për këtë përpara se të bëni kërkesën tuaj, shihni seksionin mbi pseudonimet.

            </p>
      
            <p>
Në rrethana të jashtëzakonshme, mund të heqim ose ndryshojmë emrin tuaj në faqen e internetit, shikoni <a href="#takedown">pyetjen në vazhdim</a>. Në mënyrë të ngjashme, gjithashtu mund të heqim informacione të tjera personale. 
            </p>
      
            <p>Nëse jeni të shqetësuar për këtë përpara se të bëni kërkesën tuaj, shihni seksionin mbi <a href="#real_name">pseudonimet</a>.</p>
      
          </dd>
      
          <dt id="takedown">A mund t'i largoni të dhënat personale për mua? <a href="#takedown">#</a> </dt>
      
          <dd>
      
            <p>Nëse shihni ndonjë informacion personal rreth jush në uebfaqe, të cilin dëshironi ta heqim ose fshehim, atëherë ju lutemi <a href="<%= help_contact_path %>">na njoftoni</a>. Specifikoni saktësisht se çfarë informacioni besoni se është problematik dhe pse, dhe ku shfaqet në uebfaqe.</p>
      
            <p>Nëse janë informacione personale të ndjeshme që janë postuar aksidentalisht, ne do t'i heqim ato. Normalisht ne do të shqyrtojmë vetëm kërkesat për heqjen e informacionit personal që vijnë nga individi në fjalë, por për informacione të ndjeshme do të vlerësonim këdo që tregon çdo gjë që sheh.
</p>
      
            <p>Ne konsiderojmë se ka një interes të fortë publik për shfaqjen  e emrave të zyrtarëve apo nëpunësve të institucioneve publike. Ne do t'i heqim emra të tillë vetëm në rrethana të jashtëzakonshme, si p.sh. kur zbulimi i emrit dhe pozitës të punësimit do të rrezikon në mënyrë thelbësore sigurinë e një individi. Nëse jeni një zyrtar i tillë dhe dëshironi që emri juaj të hiqet për një arsye kaq urgjente, duhet të na dërgoni një kërkesë për ta bërë këtë nga menaxheri juaj i linjës apo organizatës. Kjo kërkesë duhet të tregoj se është perceptuar një rrezik që tejkalon interesin publik dhe duhet të tregoj se janë bërë përpjekje për të fshehur emrin në faqen e internetit të organizatës.
</p>
      
            <p>Për të gjitha kërkesat e tjera aplikojmë testin e interesit publik për të vendosur nëse informacioni duhet të hiqet pasi materiali që publikojmë është gazetaresk. Ne nuk mund të modifikojmë lehtësisht shumë lloje të bashkëngjitjeve (si p.sh. skedarët PDF, ose skedarët e Microsoft Word ose Excel), kështu që zakonisht do t'u kërkojmë institucioneve që t'i ridërgojnë këto me të dhënat personale të hequra.
</p>
      
          </dd>
      
      
        </dl>
      
        <p><strong>Mësoni më shumë</strong> nga ndihma për <a href="<%= help_officers_path %>">zyrtarët për QDP</a> --&gt;
      
          <div id="hash_link_padding"></div>
      </div>
    </div>
  </div>
</section>
